{% extends 'base.html.twig' %}
{% block title %}Register
{% endblock %}
{% block
css %}

	<link rel="stylesheet" href="{{ asset('css/formulaire.css') }}" type="text/css"/>
	<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">

{% endblock %}
{% block body %}
	{% for flash_error in
app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
<div class='container page h-100 p-5'>
	<div>
		<img src="{{ asset('images/register.png') }}" alt="">
	</div>
<div class="register">
<h2 class="mb-5 text-center">Créer votre compte</h1>
  {{ form(registrationForm) }}
</div>
   </div>

{% endblock %}
