{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<div class="container page d-flex justify-content-center align-items-center" style="height: 100vh;" >
  
    <div>
        <img src="{{ asset('images/sent.png') }}" alt="">
    </div>
        <div class="alert alert-warning" role="alert">
            <p> Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
            <hr>
            <p class="mb-0">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">essay encore</a>.</p>
          </div>
</div>
{% endblock %}
