{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="container page">
        <div class="register">
    <h2  class="mb-5 text-center">Reset your password</h2>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div  class="m-4">
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
        </div>
    </div>
    
{% endblock %}
