{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="row p-5">
    <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
        <img style="width: 95%;" src="{{ asset('images/login.png') }}" alt="login">
    </div>
    <div class="register col-lg-6 col-md-6 col-sm-12 mx-auto">
    <h2>Reset your password</h2>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
    </div>
{% endblock %}
