.profile {
  display: flex;
}

.left {
  min-height: 100vh;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  align-items: center;
}

.avatar-profile {
  width: 100px;
  height: 100px;
  clip-path: ellipse(50% 50%);
}

.coloredTitle {
  color: var(--primary);
  text-align: left;
}

.card p {
  color: black;
}