body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

.profile{
display: flex;
}

.w3-sidebar {
position:absolute  !important;
flex: 1 !important;
min-height: 100vh;
}
.w3-sidebar a:hover{
  background-color: var(--primary) !important;
  color: white !important;
  text-decoration: none !important;
}
.w3-sidebar a:active{
  background-color: var(--primary) !important;
  color: white !important;
  text-decoration: none !important;
}

.left {
flex: 1;
min-height: 100vh;
  margin-left: 3%;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  align-items: center;
}
.avatar-profile {
  width: 100px;
  height: 100px;
  clip-path: ellipse(50% 50%);
}

.coloredTitle {
  color: var(--primary);
  text-align: left;
}
.card {
  margin: 0.6rem 2rem;
  height: fit-content;
  /* box-shadow: var(--box-shadow); */
  text-decoration: none;
}
.card p {
  color: black;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: var(--box-shadow);
}
