:root {
  --font-family: "Roboto", sans-serif;
  --dark: #000000;
  --primary: #e26d5c;
  --light: #444;
  --secondary: #fcf0d8;
  --background-light: #f5ca78;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
  --button-red: #e26d5c;
}
body {
  font-family: var(--font-family);
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: 100vh;
  background-color: var(--secondary);
}
.logo {
  margin: 0%;
  padding: 0%;
}
.middle {
  flex: 3;
  box-shadow: var(--box-shadow);
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 2% 1%;
}
.title {
  color: var(--primary);
}
.navbar {
  box-shadow: var(--box-shadow);
  background-color: var(--primary) !important;
}
.navbar li:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: #fff;
}

.dropdown-item:hover {
  background-color: var(--primary);
  color: #fff;
  text-decoration-line: none;
}

.fa {
  color: white;
}
.bi {
  color: white;
}
.icon {
  height: 30px;
  width: 30px;
}
.avatar {
  height: 3.125rem;
  width: 3.125rem;
  clip-path: ellipse(50% 50%);
}

.pagetitle {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
