@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
:root {
  --font-family: "Roboto", sans-serif;
  --bs-blue:rgb(139, 56, 33) !important;
  --bs-primary: rgb(139, 56, 33) !important;
  --dark: #000000;
  --primary: rgb(139, 56, 33);
  --light: #444;
  --secondary: #fcf0d8;
  --background-light: #f5ca78;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
  --button-red: rgb(139, 56, 33)d5c;
}
body {
  font-family: var(--font-family);
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: 100vh;
  background-color: #fff;
}
/* .page-link:hover{
  background-color: var(--primary) !important;
  color: #fff !important;
}
.page-link{
color: var(--primary) !important;

}
.page-item.active .page-link {
  z-index: 3 !important;
  color: #fff !important;
  background-color: var(--primary) !important;
  border-color:  var(--primary) !important;
} */
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--box-shadow);
}
/* .containere {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 15%;
  vertical-align: middle;
  overflow: hidden;
} */
.containere h1 {
  position: absolute;
  top: 10%;
  width: 80%;
  font-weight: 700;
  color: rgb(139, 56, 33);
  padding-left: 2%;
  font-family: 'Acme', sans-serif;

}
.carte:hover{
  cursor: pointer;
  transform: scale(1.08);
text-decoration-line: none;
}

.logo {
  margin: 0%;
  padding: 0%;
}
.middle {
  flex: 3;
  box-shadow: var(--box-shadow);
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 2% 1%;
}
.title {
  color: var(--primary);
}
.navbar {
  box-shadow: var(--box-shadow);
  background-color: rgb(139, 56, 33) !important;
  display: flex;
padding-left: 30px;
  padding: 0 !important;
  margin: 0 !important;
}
.navbar li{
  padding-left: 20px;
  
}
.nav-link:hover {
  cursor: pointer;
  transform: scale(1.08);
text-decoration-line: none;
}

.dropdown-item:hover {
  background-color: var(--primary) !important;
  color: #fff !important;
  text-decoration-line: none;
}

.fa {
  color: white;
}
.bi {
  color: white;
}
.icon {
  height: 30px;
  width: 30px;
}
.avatar {
  height: 3.125rem;
  width: 3.125rem;
  clip-path: ellipse(50% 50%);
}

.pagetitle {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.register{
 
  background-color: #ffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);

}
.page{
  height: 100vh;
  display: flex;
  align-items: center;
}
.page img{
  width: 95%;
}
.btn-primary{
background-color: var(--primary);
border-color: var(--primary);
box-shadow: var(--box-shadow);
}
.btn-primary:hover{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;

  }
  .btn-primary:focus{
    border-color: var(--primary);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(139 56 33 / 25%);
    }
hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top:2rem;
}
footer {
  clear: both;
}
.img_cook{
width: 30%;
height: inherit;
}
svg{
  z-index: -1;
}
.eye{
  text-align: center;
}
form i {
  margin-left: -30px;
border-radius: 4px;
border: solid 1px rgb(227, 217, 217);
  cursor: pointer;
  background-color:#eee ;
  padding: 8px;
}

.form-control:focus{
  border-color: var(--primary);
}

.form-check-input:focus {
  border-color: var(--primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(139 56 33 / 25%);
}
.form-check-input:checked {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;

}
.fa-phone{
  color:var(--primary);
  
}
.big{
  font-size: 1.3rem;
}