@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
:root {
  --font-family: "Roboto", sans-serif;
  --dark: #000000;
  --primary: rgb(139, 56, 33);
  --light: #444;
  --secondary: #fcf0d8;
  --background-light: #f5ca78;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
  --button-red: rgb(139, 56, 33)d5c;
}
body {
  font-family: var(--font-family);
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: 100vh;
  background-color: #fff;
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--box-shadow);
}
.containere {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 15%;
  vertical-align: middle;
  overflow: hidden;
}
.containere h1 {
  position: absolute;
  top: 10%;
  width: 80%;
  font-weight: 700;
  color: rgb(139, 56, 33);
  padding-left: 2%;
  font-family: 'Acme', sans-serif;

}


.logo {
  margin: 0%;
  padding: 0%;
}
.middle {
  flex: 3;
  box-shadow: var(--box-shadow);
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 2% 1%;
}
.title {
  color: var(--primary);
}
.navbar {
  box-shadow: var(--box-shadow);
  background-color: rgb(139, 56, 33) !important;
  display: flex;
padding-left: 30px;
  padding: 0 !important;
  margin: 0 !important;
}
.navbar li{
  padding-left: 20px;
  
}
.navbar li:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: #fff;
}

.dropdown-item:hover {
  background-color: var(--primary);
  color: #fff;
  text-decoration-line: none;
}

.fa {
  color: white;
}
.bi {
  color: white;
}
.icon {
  height: 30px;
  width: 30px;
}
.avatar {
  height: 3.125rem;
  width: 3.125rem;
  clip-path: ellipse(50% 50%);
}

.pagetitle {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.register{
  width: 80%;
  background-color: #ffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);

}
.page{
  height: 100vh;
  display: flex;
  align-items: center;
}
.page img{
  width: 95%;
}
.btn-primary{
background-color: var(--primary);
border-color: var(--primary);
box-shadow: var(--box-shadow);
}
.form-select{
  height: 30px;
}
hr {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top:2rem;
}
footer {
  clear: both;
}
.img_cook{
width: 30%;
height: inherit;
}
svg{
  z-index: -1;
}