{% extends 'base.html.twig' %}

{% block title %}Deposer une annonce
{% endblock %}

{% block body %}
{% if app.user %}

<div class="container ">
	<h1 class="title py-4 text-center">Ajouter une annonce</h1>
	<div class="d-flex justify-content-center">
		<div class="register col-lg-9 col-md-6 col-sm-12 ">
			{{form(form)}}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}