{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}

	<div class="row-fluid top30 pagetitle">

		<div class="container">

			<div class="row">

				<div class="col-md-12">
					<h1>Homemade</h1>
				</div>


			</div>

		</div>


	</div>
	<div class="container">


		<div class="row">
			<div class="col-md-3">


				<h4 class="">Search</h4>

				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
				<button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md" data-toggle="collapse" data-target="#demo">Refine your search
					<span class="caret"></span>

				</button>

				<div id="demo" class="collapse in">
					<hr>
					<div class="list-group list-group">
						<h4 class="">Category</h4>
						<a href="#" class="list-group-item">
							<span class="badge">14</span>
							Active item
							<span class="label label-primary">New</span>
						</a>
						<a href="#" class="list-group-item">
							<span class="badge">3</span>
							Second item</a>
						<a href="#" class="list-group-item">
							<span class="badge">25</span>
							Third item</a>
						<a href="#" class="list-group-item">
							<span class="badge">14</span>
							Active item</a>
						<a href="#" class="list-group-item">
							<span class="badge">3</span>
							Second item</a>
						<a href="#" class="list-group-item">
							<span class="badge">25</span>
							Third item</a>
						<a href="#" class="list-group-item">
							<span class="badge">14</span>
							Active item</a>
						<a href="#" class="list-group-item">
							<span class="badge">3</span>
							Second item</a>

						<div id="categories" class="collapse">

							<a href="#" class="list-group-item">
								<span class="badge">14</span>
								Active item</a>
							<a href="#" class="list-group-item">
								<span class="badge">3</span>
								Second item</a>
							<a href="#" class="list-group-item">
								<span class="badge">25</span>
								Third item</a>
							<a href="#" class="list-group-item">
								<span class="badge">14</span>
								Active item</a>
							<a href="#" class="list-group-item">
								<span class="badge">3</span>
								Second item</a>
						</div>


						<button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More
							<span class="caret"></span>
						</button>

						<hr class="">
						<h4 class="">Viewing Options</h4>
						<a href="#" class="list-group-item">
							<span class="badge">14</span>
							Upcoming Sessions</a>

						<a href="#" class="list-group-item">
							<span class="badge">3</span>
							OnDemand</a>
						<hr class="">
						<a href="#" class="list-group-item">Lorem</a>
						<a href="#" class="list-group-item">Lorem, ipsum dolor.</a>
					</div>
				</div>


				<div class="hidden-sm hidden-xs">

					<hr>

					<div class="well">

						<h4>Lorem, ipsum.</h4>
						<p>Lorem ipsum dolor sit amet.</p>
						<button class="btn btn-sm btn-warning">Learn more</button>

						<hr>
						<p class="text-center ">Already a member?
							<a href="#">Sign in.</a>
						</p>
					</div>


					<hr>

					<div class="well">

						<h4>Course Catalog</h4>
						<p>
							<a href="#"><img src="http://placehold.it/400X500" class="img-responsive"></a>
						</p>

						<p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>

						<button class="btn btn-sm btn-block btn-warning">Download</button>
					</div>

					<hr>

					<h4 class="text-center">CPE Partners</h4>

					<p>
						<a href="#"><img class="center-block" src="http://placehold.it/100X100"></a>
					</p>


				</div>

			</div>
			<div class="col-md-9">


				<div class="well hidden-xs">

					<div class="row">

						<div class="col-xs-4">


							<select class="form-control">
								<option>Featured</option>
								<option>Recently Added</option>
								<option>Next Upcoming Session</option>
								<option>A-Z</option>
								<option>Z-A</option>
							</select>
						</div>
						<div class="col-xs-8">
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-th"></span>
								</button>
								<button type="button" class="btn btn-default active">
									<span class="glyphicon glyphicon-th-list"></span>
								</button>
								<button type="button" class="btn btn-default">
									<span class="glyphicon glyphicon-list"></span>
								</button>

							</div>
						</div>

					</div>


				</div>

				<hr>

				{% for annonce in annonces %}

					<div class="row">
						{% if annonce.images is not empty %}
							{% for image in annonce.images %}
								{% if loop.first %}

									<div class="col-sm-4">
										<a href="#" class=""><img src="{{ asset('images/' ~ image.img) }}" class="img-responsive"></a>
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
						<div class="col-sm-8">
							<h3 class="title">{{annonce.titre}}</h3>

							<p>{{annonce.resume()}}</p>

							<p class="text-muted">Annonce par
								<a href="#">{{annonce.user.nomEtprenom()}}</a>
							</p>

						</div>
					</div>
					<hr>
				{% endfor %}


				<ul class="pagination pagination-lg pull-right">
					<li>
						<a href="#">«</a>
					</li>
					<li class="active">
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">»</a>
					</li>
				</ul>


			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>


{% endblock %}
